<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
</head>
<body>
</head>
<body>

<div style="padding:100px">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <ul id="myUL">
    </ul>
</div>

<script text="text/javascript">
const lista = {{ list_news | safe }}
</script>

<script type="text/javascript" src="{% static '/js/myjs.js' %}"></script>
</body>
</html>